.container {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  background-size: cover;
  display: inline-block;
  transition: 1s;

  @media (max-width: 385px) {
    width: 80px;
    height: 80px;
  }

  @media (max-width: 330px) {
    width: 70px;
    height: 70px;
  }
}

.avatar:hover {
  cursor: pointer;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.name_data {
  display: inline-block;
  margin-left: 20px;
}

.NameUser {
  text-decoration: none;
  font-size: 24px;
  color: rgb(76, 47, 31);
  border-bottom: 1px solid transparent;
  transition: .6s linear;

  @media (max-width: 385px) {
    font-size: 18px;
  }
}

.TextDate {
  font-size: 18px;
  margin: 10px 0;
  cursor: default;

  @media (max-width: 385px) {
    font-size: 14px;
    margin: 0;
  }
}

.NameUser:hover {
  border-bottom: 1px solid rgb(181, 65, 24);
  color: rgb(181, 65, 24);
}

.settingContainer {
  flex-grow: 1;
  text-align: right;

  .setting {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 3s ease;
    overflow: hidden;

    .image {
      .settingImage {
        width: 40px;
        object-fit: contain;
        transition: all 3s ease;
      }
    }

    .text {
      width: 0;
      transition: width 1s;
      .settingText {
        color: rgb(76, 47, 31);
        font-size: 22px;
        margin-left: 5px;
        opacity: 0;
        transition: width 3s;
      }
    }
  }

  .setting:hover {
    .text{
      width: 65px;
      @media (max-width: 500px) {
        width: 0;
      }
    }
    .settingText {
      opacity: 1;
      transition: 1s;
    }

    .settingText:hover {
      color: rgb(181, 65, 24);
    }
  }

  @media (max-width: 430px) {
    display: none;
  }
}

.comments {
  margin: 0;
  padding: 0;
}