h1{
  margin-bottom: 10px;
  color: rgba(175, 56, 48, 0.8);
}
.container {
  column-count: 4;
  column-gap: 15px;
  @media (max-width: 660px) {
    column-count: 3;
  }
  @media (max-width: 500px) {
    column-count: 2;
  }
  @media (max-width: 360px) {
    column-count: 1;
  }


  .content {
    display: inline-block;

    .image {
      display: inline-block;
      width: 100%;
      margin: 5px;
      object-fit: contain;
      border-radius: 20px;
    }
  }
}