.gallery_photo{
    width: 150px;
    height: 150px;
    background-size: cover;
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    transition: 1s;
}
.gallery_photo:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.gallery{
    margin-left: 110px;
    display: inline-block;
    border: 1px solid transparent;
    padding: 15px;
    transition: .4s linear;
    margin-bottom: 40px;
}
.whole_gallery{
    text-decoration: none;
    font-size: 20pt;
    color: #02024a;
    display: flex;
    border-bottom: 1px solid transparent;
    transition: .4s linear;
}
.gallery:hover{
    border: 1px solid #98d2d2;
    cursor: pointer;
}
.whole_gallery:hover{
    border-bottom: 1px solid #98d2d2;
    color: blue;
}