.comments {
    font-size: 18px;
    max-width: 800px;
    margin-bottom: 30px;
    color: rgb(76, 47, 31);
    position: relative;
}

.comment {
    display: flex;
    padding: 30px 30px 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 10%;
    margin-right: 25px;
}

.ava:hover {
    cursor: pointer;
}

.avaName:hover {
    cursor: pointer;
    color: rgb(175, 56, 48);
    transition: .5s;
}

.separation {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.bottomLine {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

.line {
    background-color: rgb(222, 167, 128);
    height: 2px;
    border: none;
    width: 100%;
}

.img {
    max-width: 100px;
    width: 100%;
    margin: 0 10px;
}

.text {
    word-break: break-word;
    width: 100%;
}

.textContent {
    max-height: 50px;
    overflow: hidden;
}

.textContent.text_active {
    max-height: none;
}

.showMore{
    text-align: center;
    padding-bottom: 20px;
}

.frame1 {
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.frame2 {
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}