@import "src/variables";
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;

  .choose{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 10px;
    width: 100%;
    padding-bottom: 15px;

    .button{
      font-size: 18px;
      padding: 0 10px;
      background: transparent;
      border: 1px solid transparent;

      &:hover{
        cursor: pointer;
        color: $color-input-message;
        border-bottom: 1px solid $color-input-message;
      }
    }
    .active{
      color: $color-input-message;
      border-bottom: 1px solid $color-input-message
    }
  }

  .containerNews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;

    .news {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px 25px;
      border: 2px dashed rgba(175, 56, 48, .5);
      border-radius: 40px;

      .author {
        width: 100%;
      }

      .title {
        margin: 10px 0 30px;
      }

      .link {
        margin-top: 15px;
        width: 150px;
        text-align: center;
        color: rgb(175, 56, 48);
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: .5s ease-in-out;
      }

      .link:hover {
        border-bottom: 1px solid rgb(175, 56, 48);
      }

      .img {
        margin: 20px 0;
        max-width: 600px;
        max-height: 600px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 40px;
      }

      .content{
        @media (max-width: 500px) {
          display: none;
        }
      }
    }
  }
}