.header {
  background-color: rgba(175, 56, 48, 0.733);
  position: fixed;
  min-height: 60px;
  width: 100%;
  font-size: 26px;
  display: block;
  margin-bottom: 20px;
  z-index: 1;
  @media (max-width: 500px) {
    display: none;
  }
}

.header_container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 371px) {
    height: 50px;
  }
}

.logo_name {
  flex: 1 1 auto;
}

.logo {
  max-width: 50px;
  display: inline;
  vertical-align: middle;
  margin: 0 10px;
  @media (max-width: 1030px) {
    display: none;
  }
}

.header_name_project a, .login_name a, .login a {
  text-decoration: none;
  color: rgb(46, 43, 38);
  outline: none;
  align-items: center;
}

.header_name_project {
  @media (max-width: 1030px) {
    margin-left: 60px;
  }
}

.navbar_search__container {
  position: absolute;
  top: 10px;
  left: 25%;

  .navbar_search__input {
    padding: 12px 24px;
    width: 100%;
    background-color: transparent;
    font-size: 14px;
    color: #575756;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &::placeholder {
      color: rgba(#575756, .8);
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    &:hover, &:focus {
      padding: 12px 24px 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 0;
      background-position: 100% center;
    }
  }

  @media (max-width: 400px) {
    position: static;
  }
}

.search {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;

  .searchTerm {
    border: 1px solid rgb(212, 206, 194);
    border-right: none;
    padding: 5px 15px;
    font-size: 20px;
    background: rgba(212, 206, 194, .3);
    border-radius: 5px 0 0 5px;
    outline: none;
    color: rgb(96, 18, 13);
    transition: all 1s ease;

    &::placeholder {
      color: rgba(#575756, .8);
    }

    @media (max-width: 700px) {
      width: 200px;

      &::placeholder {
        letter-spacing: 1.5px;
      }
    }
  }

  .searchTerm:focus {
    color: rgba(175, 56, 48, 0.733);
    background: rgba(212, 206, 194, .7);
  }

  .searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border: 1px solid rgb(212, 206, 194);
    background: rgb(212, 206, 194);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  @media (max-width: 500px) {
    .searchButton, .searchTerm {
      display: none;
    }
  }
}

.login {
  margin-right: 20px;
}

.login_logo {
  width: 50px;
  height: 50px;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 10px;

  @media (max-width: 700px) {
    border-radius: 50%;
  }
}

.login_name {
  @media (max-width: 700px) {
    display: none;
  }
}

.burger_menu {
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 2;
  @media (min-width: 1031px) {
    display: none;
  }
}

.burger_menu:hover {
  cursor: pointer;
}

.menu {
  position: fixed;
  height: 100vh;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: #F2F1ED;
  display: none;
  font-size: 30px;
  @media (min-width: 561px) {
    width: 70vh;
  }
}

.navbar {
  display: block;
}

.active_menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 110px;
  @media (max-width: 400px) {
    padding-top: 80px;
  }
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham {
  width: 60px;
}

.ham .top {
  stroke-dasharray: 40 130;
}

.ham .middle {
  stroke-dasharray: 40 140;
}

.ham .bottom {
  stroke-dasharray: 40 205;
}

.ham.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}

.ham.active .middle {
  stroke-dashoffset: -102px;
}

.ham.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}

.active {
  display: flex;
  justify-content: center;
  width: 80px;
}

.active_background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

.light_night {
  display: inline-block;

  .img {
    width: 40px;
    height: 40px;
  }
}