.container{
    max-width: 186px;
    min-width: 177px;
    border: rgb(222, 167, 128) 2px solid;
    border-radius: 20px;
    text-align: center;
    padding: 20px 10px;
    font-size: 20px;
    @media (max-width: 1030px) {
        border: none;
        font-size: 25px;
        width: 300px;
    }
}
.component{
    list-style: none;
    padding: 5px;
    @media (max-width: 1030px) {
        margin-bottom: 15px;
        border-bottom: 1px solid black;
    }
}
.el{
    text-decoration: none;
    color: rgb(62, 73, 67);
    padding: 5px 20px;
    border: transparent 1px solid;
    transition: .5s;
    @media (max-width: 1030px) {
        padding: 0;
    }
}
.el:hover{
    border-bottom: rgb(188, 183, 145) 1px solid;
    color: rgb(175, 56, 48);
}
.elActive{
    transition: 1s;
    background: rgba(175, 56, 48, .1);
    border-radius: 10px;
}