.comments {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    color: rgb(76, 47, 31);
}
.comment {
    padding: 15px;
    display: flex;
    transition: 1.5s;
    border-bottom: 1px rgb(222, 167, 128) solid;
}
.infAva {
    display: flex;
}
.ava {
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50%;
}
.ava:hover {
    cursor: pointer;
}
.avaName:hover {
    cursor: pointer;
    color: rgb(175, 56, 48);
    transition: .5s;
}