*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  background-color: rgb(212, 206, 194);
}

.app {
  padding: 0;
  font-size: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container_auth{
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
  max-width: 1200px;
  flex: 1 1 auto;
  z-index: 0;
  @media (max-width: 1030px){
    justify-content: center;
    margin: 0 20px;
    padding-top: 80px;
  }
  @media (min-width: 1030px){
    margin: 0 auto;
    width: 100%;
  }
  @media(max-width: 500px){
    margin: 0;
    padding-top: 25px;
  }
}
.navbar{
  @media (max-width: 1030px){
    display: none;
  }
}
.routeContainer{
  flex:  1 1 auto;
  margin-left: 60px;
  max-width: 960px;
  @media (max-width: 1030px){
    max-width: 810px;
    margin: 0;
  }
}