$app-background: rgba(250, 207, 178, 0.5);
$header-background: rgba(175, 56, 48, 0.733);
$footer-color: #bad9d9;
$footer-background: #424c4c;
$active-friend: rgb(157, 40, 33);
$line-comment: rgb(222, 167, 128);
$line-talk: #B69CD6;
$border-btn-talk: #AA87D6;
$text-talk: #421D70;
$background-talk:#FFF9B4;
$shadow-talk:rgba(0, 0, 255, .2);
$hover-name-user-talk: #889F1E;
$background-button-added-user: #BECF73;
$new-border: #D3C176;
$new-background: #E9E8B1;