@import "src/variables";

.container{
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .audio{
    max-width: 600px;
    width: 100%;
  }
  .audio::-webkit-media-controls-panel{
    background: linear-gradient(to right, $app-background 0%, $header-background 50%, $footer-background 100%);
  }
}